---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abdulrahman Falyoun's Portfolio">
  <section class="bg-neutral-800 flex justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-4">


      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.credly.com/badges/2b4ab494-a545-467d-a820-a6ac7bba3645/', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/aws-dva-02.png" />
        </div>
      </div>


      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.credly.com/go/GkbwGsfK', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/ckad.png" />
        </div>
      </div>

      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.coursera.org/account/accomplishments/specialization/certificate/EBWWE4VM9A8W', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/go.png" />
        </div>
      </div>

      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.credly.com/badges/5ca15c4a-23ec-4390-ab76-593165559db6/linked_in_profile', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/ibm.png" />
        </div>
      </div>

      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.coursera.org/account/accomplishments/specialization/certificate/BAMUMQV88LZK', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/python.png" />
        </div>
      </div>

      <div
        class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
      >
        <div
          class="p-2 hover:cursor-pointer"
          onclick="window.open('https://www.coursera.org/account/accomplishments/certificate/JBS5SMEZPKWH', '_newtab')"
        >
          <img src="/astro-portfolio/certificates/java.png" />
        </div>
      </div>
    </div>
  </section>
</Layout>
