<section
  class="bg-neutral-800 flex items-center flex-col justify-between space-y-8"
>
  <div
    class="w-full max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
  >
    <div
      class="p-2 hover:cursor-pointer"
      onclick="window.open('https://abd-fl-19999.medium.com/build-csr-certificates-and-in-house-ca-in-nodejs-from-scratch-f40b8018f77', '_newtab')"
    >
      <img src="/astro-portfolio/images/article-1.png" />
    </div>
  </div>

  <div
    class="w-full max-w-3xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
  >
    <div
      class="p-2 hover:cursor-pointer"
      onclick="window.open('https://abd-fl-19999.medium.com/implementing-navigation-in-ionic-3ebeae0a9ae5', '_newtab')"
    >
      <img src="/astro-portfolio/images/article-2.png" />
    </div>
  </div>
</section>
