---
import Feature from "./Feature.astro";

---

<section class="bg-white dark:bg-neutral-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-2 divide-y divide-sky-500">
      <h3
        class="mb-2 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white "
      >
        What I do
      </h3>
      <hr class="h-px mb-10 border-0 w-12">
    </div>
    
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0"
    >
      <Feature title="DevOps" content="Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing"/>
      <Feature title="Kubernetees - Docker" content="Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing"/>
      <Feature title="Backend Development" content="Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing"/>
      <Feature title="Frontend Development" content="Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit your marketing goals every month with our marketing"/>
    </div>
  </div>
</section>
