---
import Fact from "./Fact.astro";
---

<section class="bg-white dark:bg-neutral-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-2 divide-y divide-sky-500">
      <h3
        class="mb-2 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Fun Facts
      </h3>
      <hr class="h-px mb-10 border-0 w-12" />
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-12 md:space-y-0"
    >
      <Fact title="Happy Clients" count="578" />
      <Fact title="Working Hours" count="4372" />
      <Fact title="Awards Won" count="15"/>
      <Fact title="Coffe Consumed" count="1,286"/>
    </div>
  </div>
</section>
