<section
  class="bg-neutral-800 flex items-center flex-col justify-between space-y-8"
>
  <div
    class="w-full max-w-4xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
  >
    <div class="p-2">
      <img src="../../public/images/stackoverflow-1.png" />
    </div>
  </div>

  <div
    class="w-full max-w-4xl bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
  >
    <div class="p-2">
      <img src="../../public/images/stackoverflow-2.png" />
    </div>
  </div>

  <div
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-neutral-700 dark:border-gray-700 transform transition duration-500 hover:scale-110"
  >
    <div class="flex flex-col items-center p-2">
      <a
        href="https://stackoverflow.com/users/11115145/abdulrahman-falyoun"
        class="w-full"
        ><img
          src="https://stackoverflow.com/users/flair/11115145.png?theme=dark"
          class="w-full"
          alt="profile for Abdulrahman Falyoun at Stack Overflow, Q&A for professional and enthusiast programmers"
          title="profile for Abdulrahman Falyoun at Stack Overflow, Q&A for professional and enthusiast programmers"
        /></a
      >
    </div>
  </div>
</section>
